<div class="row" style="
border-radius: 10px;
margin: 16px;
margin-left: 16px;
justify-content: center;
align-items: center;">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src="/assets/img/403.png" style="height:300px;width:300px;">

      </div>
      <div class="card-content">
        <span class="card-title" style="color:#039be5">403 - ACCESS DENIED</span>
        <p>You don't have the permission to access this resource.</p>
        <p>شما صلاحیت دسترسی به این صفحه را ندارید</p>
        <button class="btn-primary" routerLink="/dashboard">برگشت به صفحه اصلی</button>
      </div>
    </div>
  </div>
</div>