table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    color: #333;
    font-size: 0.9rem;
    text-align: left;
  }
  
  th {
    background-color: #002b5c;
    color: #fff;
    font-weight: bold;
    padding: 0.75rem;
    vertical-align: top;
  }
  
  td {
    padding: 0.75rem;
    vertical-align: top;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .fontstyle{
    font-family: 'PersianFont', sans-serif;
  }