<div class="container">
  <mat-tab-group #tabGroup>
    <!-- UNIFIED TAB: Office, Owner & License Information -->
    <mat-tab class="blue-tab">
      <ng-template matTabLabel>
        <mat-icon class="large-icon">description</mat-icon>
        اطلاعات دفتر، مالک و جواز
      </ng-template>
      
      <div class="unified-tab-container">
        <!-- Section 1: Company Details -->
        <div id="company-section">
          <app-companydetails #companydetails [id]="PropertyId" (next)="scrollToNextSection('owner-section')"></app-companydetails>
        </div>
        
        <!-- Section 2: Owner Details -->
        <div id="owner-section">
          <app-companyowner #companyowner [id]="PropertyId" (next)="scrollToNextSection('license-section')"></app-companyowner>
        </div>
        
        <!-- Section 3: License Details -->
        <div id="license-section">
          <app-licensedetails #licensedetails [id]="PropertyId" (next)="nextTab()"></app-licensedetails>
        </div>
      </div>
    </mat-tab>

    <mat-tab [disabled]="comservice.mainTableId === 0">
      <ng-template matTabLabel>
        <mat-icon class="large-icon">security</mat-icon>
        تضمین کنندگان
      </ng-template>
      <app-guaranators #guaranators [id]="PropertyId" (next)="nextTab()"></app-guaranators>
    </mat-tab>

    <mat-tab [disabled]="comservice.mainTableId === 0">
      <ng-template matTabLabel>
        <mat-icon class="large-icon">account_balance</mat-icon>
        مالیه
      </ng-template>
      <app-accountinfo #accountinfo [id]="PropertyId" (next)="nextTab()"></app-accountinfo>
    </mat-tab>

    <mat-tab [disabled]="comservice.mainTableId === 0">
      <ng-template matTabLabel>
        <mat-icon class="large-icon">cancel</mat-icon>
        فسخ / لغوه
      </ng-template>
      <app-cancellationinfo #cancellationinfo [id]="PropertyId" (next)="nextTab()"></app-cancellationinfo>
    </mat-tab>
  </mat-tab-group>
</div>