
<br>

  <div class="container">

   <h3 class="fontstyle">فورم ایجاد پسورد</h3>
   <h3 class="fontstyle">در صورت فراموش پسورد قبلی</h3>
    <form (ngSubmit)="resetPassword(form.value)" #form="ngForm">
      <div class="row">
          <label class="form-label">انتخاب کاربر</label>
          <ng-select  id="userName" name="userName"  [items]="users" [selectOnTab]="true" bindLabel="userName"
            bindValue="userName" ngModel>
          </ng-select>
        </div>
    <div class="row">
  
      <label class="form-label"> پسورد جدید </label>
      <div class="input-group">
        <input type="password" class="form-control" id="newPassword" name="newPassword" ngModel required>
      </div>
    </div>
    
      <br>
      <br>
          <button type="submit" class="btn btn-outline-secondary"  [disabled]="!form.valid" >ثبت و ارسال</button>
          <button type="button" (click)="close()" class="btn btn-outline-secondary" style="margin-right: 10px;"> بستن </button>
    </form>
    <br>
   
  </div>


