
<br>

  <div class="container">

   <h3 class="fontstyle"> فورم تغیر پسورد</h3>
   <form #myForm="ngForm" (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="password">پسورد قبلی </label>
      <input  class="form-control" type="password" id="password" [(ngModel)]="model.password" name="password" required>
      <div *ngIf="myForm.controls['password'].touched && myForm.controls['password'].errors?.['required']" class="text-danger">
       این فیلد الزامی است
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">پسورد جدید </label>
      <input  class="form-control" type="password" id="newPassword" [(ngModel)]="model.newPassword" name="newPassword" required>
      <div *ngIf="myForm.controls['newPassword'].touched && myForm.controls['newPassword'].errors?.['required']" class="text-danger">
       این فیلد الزامی است 
      </div>
    </div>
    <br>
    <button type="submit" [disabled]="myForm.invalid" class="btn btn-outline-secondary">ثبت و ارسال</button>
    <button type="button" (click)="close()" class="btn btn-outline-secondary">بستن</button>
  </form>

    <br>
   
  </div>