<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3" style="padding-top: 35px;">
          <input type="text" class="form-control" [(ngModel)]="searchTerm" aria-label="Search" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onSearch()">جستجو</button>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-top: 35px;">
        <div class="d-flex justify-content-end">
          <label for="tableSize" class="fontstyle">تعداد ردیف ها:</label>
          <select id="tableSize" class="form-control" [(ngModel)]="tableSize" (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
      </div>
    </div>
        
      
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: center;">
            <th>شماره مسلسل</th>
            <th>عنوان رهنمایی معاملات</th>
            <th>نام مالک دفتر</th>
            <th>نام پدر مالک دفتر</th>
            <th>شماره تذکره مالک دفتر</th>
            <th>نمبر جواز دفتر</th>
            <th>تضمین کننده دفتر</th>
            <th>جزئیات دیگر</th>
      
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of filteredProperties | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index" class="text-center">
        <td>{{ (page - 1) * tableSize + i + 1 }}</td>
            <td>{{ property.title }}</td>
            <td>{{ property.ownerFullName }}</td>
            <td>{{ property.ownerFatherName }}</td>
            <td>{{ property.ownerIdNumber }}</td>
            <td>{{ property.licenseNumber }}</td>
            <td>{{ property.granator }}</td>
            <td>
              <div class="d-flex justify-content-center gap-1">
                <button class="btn btn-outline-success btn-sm" (click)="onView(property.id)" title="مشاهده جزئیات">
                  <i class="fas fa-eye"></i>
                </button>
                <button *ngIf="!isViewOnly" class="btn btn-outline-secondary btn-sm" (click)="onEdit(property.id)" title="ویرایش">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="pagination-container">
        <pagination-controls
        (pageChange)="onTableDataChange($event)"
        [previousLabel]="'قبلی'"
        [nextLabel]="'بعدی'"
        
      ></pagination-controls>
      </div>
      </div>
  
