

  <br>

  <div class="container">

   <h3 class="fontstyle">مسدود کردن و غیر مسدود کردن</h3>
   <h3 class="fontstyle">حساب کاربران سیستم</h3>

      <div class="row">
          <label class="form-label">انتخاب کاربر</label>
          <ng-select  id="userName" name="userName"  [items]="users" [selectOnTab]="true" bindLabel="userName"
            bindValue="userName" [(ngModel)]="userName">
          </ng-select>
        </div>
    <div class="row">
      <label class="form-label">آیا اکونت قفل شود؟؟</label>
      <div class="input-group form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="isLocked" checked>
      </div>
      
    </div>
      <br>
          <button (click)="lockUser()" class="btn btn-outline-secondary">ثبت و ارسال</button>
          <button type="button" (click)="close()" class="btn btn-outline-secondary" style="margin-right: 10px;"> بستن </button>
    <br>
   <br>
  </div>
