.btn-reset {
    background-color: #f44336;
    color: white;
  }
  .custom-file-input {
    padding: 0.5rem;
  }
  .download-link {
    cursor: pointer !important;
    text-decoration: underline !important;
  }
  
  .download-link:hover {
    color: blue !important;
  }
