
<div class="container">
  <div class="row">
    <h2 style="text-align:center;" class="designation"> راپور وسایط نقلیه به اساس ماه های سال</h2>
    <div class="col-md-6">
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="vChart" width="400" height="200"></canvas>
    </div>
  </div>
 
  <br>
  <h2 style="text-align:center;" class="designation"> راپور جایداد  به اساس ماه های سال</h2>
<div class="row">
  <div class="col-md-6">
    <canvas id="propertyChart" width="800" height="400"></canvas>
  </div>
  <div class="col-md-6">
    <canvas id="transactionChart" width="800" height="400"></canvas>
  </div>
  
</div>
  <hr class="divider" />
  <br>
  <br>
  <br>
  <div class="row">
     
      <div class="col-md-4">
        <h3 style="text-align:center;" class="designation">معامله انجام شده</h3>
          <canvas id="totalchart"></canvas>
      </div>
      
      <div class="col-md-4">
        <h3 style="text-align:center;" class="designation">معامله تکمیل شده</h3>
          <canvas id="total-completed" ></canvas>
      </div>
      <div class="col-md-4">
        <h3 style="text-align:center;"  class="designation">معامله تکمیل ناشده</h3>
          <canvas id="total-notcompleted"></canvas>
      </div>
       
  </div>
  <br>
  <br>
  <hr class="divider" />
  <br>
  <h2 style="text-align:center;" class="designation">PI Chart</h2>
  <div class="row">
    
    <div class="col-md-4">
        <canvas id="totalchart2"></canvas>
    </div>
    <div class="col-md-4">
      <canvas id="totalchart3"></canvas>
  </div>
  <div class="col-md-4">
    <canvas id="totalchart4"></canvas>
</div>
  </div>
  <hr class="divider" />
  <br>

 </div>

<div class="container-fluid">
  <h3 class="designation" style="text-align: center;">راپور عمومی معاملات املاک</h3>
    <div class="row">
        <ng-container>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">مجموع پول معامله شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalAmount || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع پول معامله تکمیل ناشده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalAmountNotCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع پول معامله تکمیل شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalAmountCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!--Second Section-->
        <ng-container>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع معامله انجام شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalTransaction || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-exchange-alt fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع  معامله تکمیل ناشده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalTransactionNotCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-exchange-alt fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع معامله تکمیل شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalTransactionCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-exchange-alt fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!--Third Section-->
        <ng-container>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">مجموع کمیشن تمام معاملات </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalRoyaltyAmount || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع کمیشن معامله تکمیل ناشده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalRoyaltyAmountNotCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع کمیشن معامله تکمیل شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboardData?.totalRecord?.totalRoyaltyAmountCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" > تعداد رهنمایی معاملات ثبت شده </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalCompany?.totalCompanyRegisterd?.totalTransaction || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-building  fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2" routerLink="/dashboard/realestate/exlist" style="cursor: pointer;">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" > تعداد جواز تاریخ گذشته</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalexpiredLicense?.totalLicenseExpired?.totalTransaction || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-building  fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>


      <hr class="divider" />


      <h3 class="designation" style="text-align: center;">راپور عمومی معاملات وسایط</h3>
    <div class="row">
        <ng-container>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع پول معامله شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalAmount || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">مجموع پول معامله تکمیل ناشده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalAmountNotCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع پول معامله تکمیل شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalAmountCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!--Second Section-->
        <ng-container>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع معامله انجام شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalTransaction || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-exchange-alt fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع  معامله تکمیل ناشده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalTransactionNotCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-exchange-alt fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع معامله تکمیل شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalTransactionCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-exchange-alt fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!--Third Section-->
        <ng-container>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع کمیشن تمام معاملات </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalRoyaltyAmount || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">مجموع کمیشن معامله تکمیل ناشده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalRoyaltyAmountNotCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800" >مجموع کمیشن معامله تکمیل شده</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vehicleDashboardData?.totalRecord?.totalRoyaltyAmountCompleted || 0 }}</div>
                  </div>
                  <div class="col-auto">
                    <i  class="fas fa-money-bill fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
</div>

